<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.franzli347.foss.mapper.BucketMapper">

    <resultMap id="BaseResultMap" type="io.github.franzli347.foss.entity.Bucket">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="uid" column="uid" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,uid,total_size,used_size,name,create_time
    </sql>

    <select id="getBucketsByUserIdWithPage" resultType="io.github.franzli347.foss.entity.Bucket">
        select
        <include refid="Base_Column_List"/>
        from tb_bucket
        where uid = ${userId}
        order by create_time desc
        limit ${page},${size}
    </select>
    <select id="listAll" resultType="io.github.franzli347.foss.entity.Bucket">
        select
        <include refid="Base_Column_List"/>
        from tb_bucket b
        where b.id in (
            select bid from tb_bucket_privilege
            where uid = #{userId}
        )
        order by create_time desc
        limit ${page},${size}
    </select>

</mapper>
