<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.franzli347.foss.mapper.UserMapper">
    <sql id="Base_Column_List">
        id,username,email
    </sql>
    <sql id="Record_Column_List">
        id,ip,time,device,uid,city
    </sql>
    <insert id="addLoginRecord">
        insert
        into tb_login_record
            (ip,time,uid,city)
        values(#{ip},#{time},#{uid},#{city})
    </insert>
    <select id="getUserLoginRecords" resultType="io.github.franzli347.foss.vo.LoginRecord">
        select
        <include refid="Record_Column_List"/>
        from tb_login_record
        where uid=#{uid}
        order by time desc
        limit #{page},#{size}
    </select>
</mapper>
